/* >> GLOBAL SETTINGS << */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* colors */
  --orange: #FFA200;
  /* filter */
  --soft-shadow:rgba(97, 97, 97, 0.5);
}

li {
  list-style-type: none;
}

/* > global fonts settings < */
:root {
  font-family: 'Sora', sans-serif;
}

/* global buying buttons settings */
.buy-pizza {
  width: 15.7rem;
  height: 3.1rem;
  font-size: 1.2rem;
}

.buy-pizza:hover {
  filter: drop-shadow(0px 0px 18px var(--soft-shadow));
}

button {
  border: none;
  border-radius: 2.5rem;
  font-weight: 600;
  background-color: var(--orange);
  cursor: pointer;
  transition: 0.3s filter;
}

/* global input settings */
input {
  border-radius: 8px;
  border: none;
}

input:focus {
  outline: none;
}

input[type="text"] {
  filter: drop-shadow(0px 0px 18px var(--soft-shadow));
}



