// colors
$red: #CF3031;
$orange: #FFA200;
$green:#5C913B ;
$black: #2E2E2E;
$gray: #616161;
$soft-pink: #FFD4C9;
$white: #FEF6F4;

body {
  .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    background: url('../../images/header-bg.svg') no-repeat center;
    background-size: cover;


    #basil {
      position: absolute;
      top: 45.6rem;
      left: 0;
    }
  }

  main {

    section#topSellingProducts {
      max-width: 144rem;
      margin: auto;
      margin: 14.1rem auto 20.8rem;
      text-align: center;

      > h2 {
        font-size: 3.6rem;
        font-weight: 600;
        margin-bottom: 8.8rem;

        #mashroomBg {
          position: absolute;
          top: 587px;
          left: 1192px;
        }
      }

      .pizzas-container {
        height: 38rem;
        margin-left: 16rem;
        display: flex;
        align-items: center;
        //justify-content: center;
        overflow-y: hidden;
        overflow-x: auto;

        .pizza-content {
          padding: 0 3.8rem;
          max-width: 25.6rem;
          height: 27.5rem;
          background-color: $white;
          border-radius: 25px;

          &:not(:last-child) {
            margin-right: 3.2rem;
          }

          .pizza {
            display: flex;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            min-width: 20rem;
            margin: -5.5rem 0 1.6rem;
            
            .ghost-element {
              visibility: hidden;
              color: transparent;
            }

            .favorite-button {
              border-radius: 0;
              background-color: transparent;
            }
          }

          .pizza-description {
            margin-bottom: 2.4rem;

            > h3 {
              font-size: 1.8rem;
              font-weight: 600;
              margin-bottom: .8rem;
            }

            .pizza-ingredients {
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 20px;
              color: $gray;
              padding: 0 1rem;
              margin-bottom: 2.8rem;
            }

            .pizza-price {
              font-size: 3.2rem;
              font-weight: 600;
            }
          }
        }
      }
    }

    section#aboutUs {
      background-color: #fcfcfc;
      width: 100%;

      .aboutUs-container {
        max-width: 144rem;
        min-height: 60rem;
        display: flex;
        align-items: center;
        margin-left: 16rem;
        .laPizza-photo {
          width: 44.8rem;
          height: 50.1rem;
          background: url('../../images/lapizza-place.svg');
        }
  
        .lapizza-history {
          width: 46rem;
          margin-left: 9.6rem;
  
          > h2 {
            font-size: 3.6rem;
            font-weight: 600;
            margin-bottom: 2.4rem;
          }
  
          > p {
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: $black;
          }
  
          #learnMore {
            width: 14.8rem;
            height: 3.9rem;
            font-size: 1.6rem;
            margin-top: 3.6rem;
          }
        }
      }
     
    }

    section#buyPhaseModal {
      visibility: hidden;
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba( $black, $alpha: 0.6);

      &.active {
        display: flex;
        align-items: center;
        justify-content: center; 
        visibility: visible;
      }

      .modal-container {

        background-color: $white;
        padding: 2.5rem;
        text-align: center;
        width: min(100rem, 90%);
        height: min(50rem, 90%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;

        .selected-pizza {
          > h2 {
            font-size: 3.6rem;
            margin-bottom: 2rem;
          }

          > img {
            width: 28rem;
            box-shadow: 0 0  15px rgba( $black, $alpha: 0.3);
            border-radius: 50%;
          }
        }

        .order-informations {
          height: 80%;
          width: min(50rem, 50%);
          text-align: start;
          .pizza-extras {
            margin-bottom: 3rem;
            
            .pizza-extra {
              display: flex;
              align-items: center;
              margin-bottom: 1rem;
              

              > input[type="checkbox"] {
                margin-right: 1.25rem;
              }

              > label {
                font-size: 1.6rem;
              }
            }

            .pizza-observation {
              margin: 2rem 0;

              > label {
                font-size: 1.6rem;
              }
              
              > input {
                display: block;
                height: 5rem;
                overflow-y: none;
                margin-top: 1.2rem;
                width: 50%;
              }
            }
          }

          .user-address {
            margin-bottom: 3rem;

            > h2 {
              margin-bottom: 1.2rem;
            }

            > input {
              width: 80%;
            }
          }

          .confirm-order {
            margin-top: 5rem;
            text-align: end;
            > button {
              height: 3.5rem;
              width: 20rem;
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 5rem;

    > p {
      width: 100%;
      text-align: center;
    }
  }
}

@media(max-width: 1024px) {
  body {
    main {
      section#topSellingProducts {
        .pizzas-container {
          margin: 0 2rem;
        }
      }
    }
  }
}